@tailwind base;
@tailwind components;
@tailwind utilities;

.form{
    margin-bottom: 1.2rem;
}

.form_input{
    /* border: 2px ; */
    padding: .4rem;
    text-indent: 3rem;
}

.btn{
    /* border: 2px solid black; */
    padding: 8px;
    border-radius: 5px;
}

.title{
    font-size: 2.5rem;
}
.part_os{
    font-size: 1.2rem;
}
.part{
    font-weight: 600;
}

.transcription{
    font-style: italic;
    font-weight: 600;
    margin-bottom: 1rem;
}

.output{
    text-align: left;
}



/* new test */

@media (prefers-color-scheme: dark) {
    #root{
      background-color: #1f2023;
      color: #dadada;
    }
    /* #root > .btn{
        color: #dadada;
    } */
  }

  #root{
    min-height: 100vh;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(2, 37, 51);
    color: white;
    text-align: center;
    padding: 1rem 0;
  }

  @media(min-width:575px ){
    
    .form_input{
        width: 20rem;
        margin-right: 3rem;
    }
    .form{
        width: 100%;
        justify-content: center;

    }
    /* .output{
        width: 100%;
        justify-content: center;
    } */
  }